/* Import  Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Asterix wildcard selector to override default styles added by the browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #000;
    background-color: #d9c386;
    font-family: 'Lato', sans-serif;
}

/* Header */

header {
    background-color: #fff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100vw;
    box-shadow: 0 2px 2px #000;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #620101;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;

}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #000;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000;
    display: none;
    top: 100%;

}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */

main {

    /* Make main content take all surplus space to push footer down */

    flex: 1 0 auto;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url('../images/hero.jpg') no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background: rgba(240, 85, 11, .8);
    width: 100%;
    font-size: 110%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 20px;
    box-shadow: 2px 2px 4px #000;
}

#cover-text>h2,
#cover-text>h3,
#cover-text>h4 {
    color: #fff;
}

h4>a {
    text-decoration: none;
    color: #000;
}

h4>a:hover {
    color: #fff;
}

/* Reasons section */
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons>h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#football-rewards div,
#football-values div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #000;

    margin: 5px 0;
}

#benefits a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 800;
}

#circle-cover-bg {
    background: url('../images/celebration.jpg') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Make the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Opening Times section */
#times {
    background: #512E5F;

    /* No need for media query just used flex-box proprety */
    display: flex;
    flex-wrap: wrap;
}

#meetups>h2 {
    padding-left: 20px;
}

#times h3 {
    /* Override the heading colour set in general  styles*/
    color: #fff;
}

#times div {
    color: #fff;
    padding: 15px;
    text-align: center;
    /* This will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row */
    flex-basis: 200px;
    flex-grow: 1;
    /* Creates a grid(table) much readable over the background colour */
    border: 2px solid #fff;
}

/* Footer */

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #000;
}


/* Media queries */
@media screen and (min-width: 768px) {

    /*Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75%;
        margin: 1rem 0.5rem;
        text-align: center;
    }

    /* Hero */
    #cover-text {
        width: 320px;
        min-height: 250px;
        right: 50px;
        font-size: 130%;

    }

    /* Reasons section */
    #football-rewards,
    #football-values {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #football-rewards>div,
    #football-values>div {
        width: 70%;
    }

    #football-values>div {
        text-align: end;
        align-self: flex-end;
    }

    /* About page/ About us section */
    #my-story {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/* Larger devices (laptops and desktops , 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #000;
    }
}

@media screen and (min-width: 1200px) {

    /* Reason Section */
    #benefits {
        display: flex;
        flex-direction: row;

    }

    #benefits>div {
        flex: 1;
    }

    #benefits-image {
        order: 0;
    }

    #football-values {
        order: 1;
    }

    #football-values>div {
        align-self: flex-start;
    }

    #football-rewards>div {
        align-self: flex-end;
    }
}

/* About page */
/* override styles from html general styles */
#about-us {
    display: flex;
    flex-direction: column;
}

#intro {
    padding: 20px;
    margin-top: 20px;
    background: white;
    width: 50%;
    text-align: center;
    box-shadow: 2px 2px 2px #000;
    margin: 20px auto;
}