/* Import  Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap');
/* Asterix wildcard selector to override default styles added by the browser*/
* {
    margin:0;
    padding:0;
}
/* General styles */
body {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    /* Generic project styles */
    color:#000;
    font-family:'Lato' ,sans-serif;
}
/* Header */

header {
    background-color: grey;
}

/* Main content */

main {
    background-color: lightgreen;
    /* Make main content take all surplus space to push footer down */

    flex: 1 0 auto;
}

/* Footer */

footer {
    background-color: gold;
}